body {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;    
  }
  .transparency-hover:hover {        
    opacity: 0.5;
    background: black;
  }  
  .top-menu{    
    border-bottom: 1px solid black;
  }
  .top-menu a button{
    cursor: pointer;
    color:black;
  }
  .top-menu a button:hover{
    color: white;
  }
  .button-menu{
      background-color:transparent;
  }
  .button-info{
    border-radius: 0px;
    border: 2px solid black;
    background: transparent;
    color: black;
    font-weight: 500
  }
  .button-info:hover{    
    background: black;
    color:white    
  }
  body{
    color:white;
    background-size: cover;
    background-position: center top;    
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url('images/bg-04.jpg');
  }  
  .modal-content{
    color:black;
  }